:root{
    --text-color: #707070;
    --primary-color: #4B368C;
    --secondary-color: #C0B5D9;
    --light-color: #F7F6FB;
}

html, body {
    font-family: 'Quicksand', sans-serif;
    color: var(--text-color);
    /* For browsers that do not support gradients */
    background-color: #CEABE7;
    background-image: linear-gradient(to bottom right, #B8BCDB, #CEABE7);
    background-repeat: no-repeat;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container {
    margin: 0;
    padding: 0;
    width: 70%;
}

.panel {
    background-color: var(--light-color);
    border-radius: 30px;
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.welcome-img{
    width: 50%;
    height: auto;
    text-align: center;
    padding: 60px 20px;
}

h1 {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 3rem;
}

img {
    width: 80%;
    height: auto;
    margin: 10px;
}

.login{
    width: 50%;
    height: auto;
    text-align: center;
    z-index: 11;
}

.panel::after{
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    right: 0;
    background: #E9E1F4;
    border-radius: 0px 30px 30px 0px;
}

h3{
    margin-top: 6rem;
    margin-bottom: 2rem;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
    width: 70%;
    padding: 0.8rem 0.5rem;
    margin: 1rem 0;
    display: inline-block;
    border-radius: 5px;
    border: none;
    background-color: var(--secondary-color);
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 0.8rem 0.5rem;
    margin: 1rem 0;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 20px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.8rem;
}

a:hover {
    font-weight: bold;
    color: var(--primary-color);
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

footer {
    font-size: 0.8rem;
    text-align: center;
}
