:root {
    --text-color: #707070;
    --primary-color: #4B368C;
    --secondary-color: #C0B5D9;
    --light-color: #F7F6FB;
}

html,
body {
    font-family: 'Quicksand', sans-serif;
    color: var(--text-color);
    background-color: var(--light-color);
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container-fluid {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.merck-logo {
    width: 120px;
    height: auto;
    margin: 2rem 12rem 2rem 10rem;
}

.navbar a {
    font-size: 1.2rem;
}

.navbar a:hover {
    text-decoration: underline;
    font-weight: 400;
}

.active {
    color: var(--primary-color);
    text-decoration: underline;
}

.nav-item {
    margin: 1rem;

}

.avatar-img {
    margin-left: 12rem;
    margin-right: 1rem;
    height: 40px;
}

form button {
     background-color: var(--primary-color);
    color: var(--light-color);
    padding: 0.4rem 2rem;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

button {
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 0.5rem 4rem;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
}

h1 {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 700;
}

table {
    margin: 3rem auto;
    text-align: left;
    border-collapse: collapse;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    background-color: var(--primary-color);
    color: var(--light-color);
    text-align: left;
}

th,
td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: var(--secondary-color);
}

.patient-avatar {
    max-height: 30px;
    width: auto;
}


a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.8rem;
}

a:hover {
    font-weight: bold;
    color: var(--primary-color);
}

button {
    margin: 1rem;
    margin-bottom: 5rem;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

footer {
    width: 100%;
    padding: 2rem;
    font-size: 0.8rem;
    text-align: center;
    background-color: var(--secondary-color);
}